<!-- Brand Logo -->
    <a asp-page="/Index" class="brand-link">
      <img src="~/dist/img/LogoTAS1.jpg" alt="CIAC TAS" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">CIAC TAS</span>
    </a>